<div class="obj4">

    <h6>Summary</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates possimus optio adipisci blanditiis rem, nostrum dolores. Totam, provident maiores nihil susc</p>

    <div class="table">
        <div class="search">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="search intent or utternace">
        </div>

        <div class="heading">            
            <div>Intent</div>
            <div>Messages</div>
            <div>Importance</div>
            <div>Accuracy</div>
            <div>Catch All</div>
        </div>
        <div class="grid">
            
            
            <div>Row 1</div>
            <div>102</div>
            <div>98%</div>
            <div style="color:green;">1</div>
            <div>10</div>
            
            <div>Row 2</div>
            <div>54</div>
            <div>2%</div>
            <div style="color: red;">.5</div>
            <div>5</div>
            
            <div>Row 3</div>
            <div >10</div>
            <div >5%</div>
            <div style="color:green;">8</div>
            <div >3</div>
            
            <div>Row 4</div>
            <div>45</div>
            <div>34%</div>
            <div style="color: yellow;">5.2</div>
            <div>9</div>
            
          </div>
          
        
       
      </div>
      
</div>