<div class="sidebar">

  <div class="top_siderbar">

    <i class="bi bi-grid"></i>
    <span class="icon-border"></span>
    <i class="bi bi-chat-right" ></i>
    <i class="bi bi-person-circle"></i>
    <i class="bi bi-columns-gap"></i>
    <i class="bi bi-browser-chrome"></i>
    <i class="bi bi-megaphone"></i>
    <i class="bi bi-graph-up"></i>
    <i class="bi bi-upc-scan"></i>
    <i class="bi bi-bar-chart-line"></i>
    <i class="bi bi-badge-ar"></i>

  </div>

  <div class="bottom_siderbar">

    <i class="bi bi-gear"></i>
    <i class="bi bi-person-square"></i>

  </div>

</div>


<div class="navbar">

  <div class="nav_left">

    <i class="bi bi-badge-ar" style="font-size: 1.5rem; padding: 2px;"></i>
    <div class="title">
      <h5>Instinct AI</h5>
    </div>
  
    <span class="border"></span>
    <p style="font-size: 14px; color: gray;">Al engine to analyze chat conversations, detecting user intent, answering queries automatically and handling
      off-target conversations</p>

  </div>  


  <div class="nav_right">
    <div class="option">

      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        <i class="bi bi-qr-code" style="font-size: 1.1rem;"></i> +91 8827340 9328
      </a>

    </div>
    <div class="icon">
     <div class="icon-border"></div>
      <i class="bi bi-bell"></i>

      <i class="bi bi-power" style="font-size: 1.5rem; color: black;"></i> 
    </div>
    

  </div>

</div>



<app-main-body></app-main-body>