<div class="container">
  <div class="left_box" (mouseenter)="hovered = true" (mouseleave)="hovered = false" [ngClass]="{'hovered': hovered}">
    <div class="obj" (click)="selectedObj = 1" [class.clicked]="selectedObj === 1" >
      <h6>Train your bot</h6>
      <p>Lorem ipsum dolor, animi offic.</p>
    </div>
    <hr>
    <div class="obj" (click)="selectedObj = 2" [class.clicked]="selectedObj === 2" >
      <h6>Intents</h6>
      <p>Lorem ipsum dolor, um autem odio, delectus maiores animi offic.</p>
    </div>
    <hr>
    <div class="obj" (click)="selectedObj = 3" [class.clicked]="selectedObj === 3" >
      <h6>Catch All</h6>
      <p>Lour adipisicing elit. Accusantium autem odio, delectus maiores animi offic.</p>
    </div>
    <hr>
    <div class="obj" (click)="selectedObj = 4" [class.clicked]="selectedObj === 4" >
      <h6>Summary</h6>
      <p>Lorem ipsum dolor, sit amet consectetur antium autem odio, delectus maiores animi offic.</p>
    </div>
  </div>

  <div class="right_box">
    <div [ngSwitch]="selectedObj">
      <div *ngSwitchCase="1" class="obj1">
        <app-obj1></app-obj1>
      </div>
      <div *ngSwitchCase="2" class="obj2">
        <app-obj2></app-obj2>
      </div>
      <div *ngSwitchCase="3" class="obj3">
        <h6 style="font-size: 14px;font-weight: 700;">Catch All</h6>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus repellendus harum corporis nisi ea
          temporibus quidem laborum recusandae laboriosam reiciendis explicab</p>

        <div class="btn-group dropend">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false" style="background-color: white; color: rgb(85, 83, 83); border-radius: 1.5px; border: 1.2px solid  rgb(199, 196, 196);
                  width: 220px; display: flex; justify-content: space-between; align-items: center; font-size: 13px;">
            Human Handoff
          </button>
          <ul class="dropdown-menu">
            <!-- Dropdown menu links -->
          </ul>
        </div>
        <br> <br> 

        <h6 style="font-size: 14px;font-weight: 700;">Add reply</h6>
        <textarea
          style="font-size: 12px; width: 400px;height: 50px; font-weight: 600; color: rgb(133, 129, 129);"> Bot says</textarea>
        <br>
        <button type="button" class="btn btn-secondary btn-sm" style="background-color: rgb(210, 209, 209);
            color: black; font-size: 12px;border: none; border-radius: 2px;
        ">+ Add random message</button>
        <br> <br> 
        <h6 style="font-size: 14px;font-weight: 700;">Human Handoff</h6>

        <div class="dropdown-center">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="background-color: white; color: rgb(85, 83, 83); border-radius: 1.5px; border: 1.2px solid  rgb(199, 196, 196);
                  width: 220px; display: flex; justify-content: space-between; align-items: center; font-size: 13px;">
            Assign agent
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action two</a></li>
            <li><a class="dropdown-item" href="#">Action three</a></li>
          </ul>
        </div>

      </div>


      <div *ngSwitchCase="4" class="obj4">
        <app-obj3></app-obj3>
      </div>
    </div>
  </div>
</div>