<div class="obj2">

    <div class="head1">
        <h6>Intent(10)</h6>
        <p>Lis inventore animi magnam iure modi consequatur tempora rem odio ipsam placeat</p>
    </div>
    <div class="container">

        <div class="box">

            <div class="search">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="search intent or utternace">
            </div>

            
            <button>
                + Add intent
            </button>
        </div>
        <div class="head">
            <h6>Intent</h6>
        </div>

        <div class="box2">


            <div class="intent"><h6>Greeting</h6> <i class="bi bi-three-dots-vertical"></i></div>
            <div class="intent"><h6>Bye</h6><i class="bi bi-three-dots-vertical"></i></div>
            <div class="intent"><h6>Office hours</h6><i class="bi bi-three-dots-vertical"></i></div>
            <div class="intent"><h6>Location</h6><i class="bi bi-three-dots-vertical"></i></div>
        </div>
    </div>


</div>